target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/data.csv
/data1.csv
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_27_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_15_29_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Merge_at_08_04_2024_03_25_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]6/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]7/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2024_20_15_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2024_20_15_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_12_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_27_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_15_29_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_08_04_2024_03_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]2/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]3/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]4/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]5/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]6/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]7/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]8/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2024_20_15__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_12__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_27__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_15_29__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_08_04_2024_03_25__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_2.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_3.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_4.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_5.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_6.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_7.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_8.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_27_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_15_29_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Merge_at_08_04_2024_03_25_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]6/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]7/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2024_20_15_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2024_20_15_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_12_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_27_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_15_29_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_08_04_2024_03_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]2/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]3/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]4/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]5/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]6/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]7/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]8/shelved.patch
/Test/ca/ucalcary/cpsc/groupprojectgui/DataTest.java
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_27_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_27_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_15_29_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_Merge_at_08_04_2024_03_25_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]6/groupProjectGUI.jar
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]7/groupProjectGUI.jar
/.idea/artifacts/groupProjectGUI.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2024_20_15_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_07_04_2024_20_15_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_12_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_03_27_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_04_2024_15_29_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_08_04_2024_03_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]2/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]3/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]4/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]5/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]6/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]7/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]8/shelved.patch
